@charset "iso-8859-1";

/*******************************************************************************
* screen.css : 2004-06-28 : Ruthsarian Layouts
* ------------------------------------------------------------------------------
* This stylesheet defines the layout as it appears on screen.
*******************************************************************************/


@charset "iso-8859-1";

/*******************************************************************************
* base.css : 2005-06-28 : Ruthsarian Layouts
* ------------------------------------------------------------------------------
* base set of stylesheet rules needed to form the layout, and layout only.
* color and fonts and such are not handled here.
*******************************************************************************/

/* REMOVED the old link colors from here to allow v4.css to take control. */

#pageWrapper
{
	margin: 0;
	width: auto;
	min-width: 500px;
}
#outerColumnContainer
{
	z-index: 1;
	border-color: #fff;	/* set default color to white. set the real
				   color inside colors.css */
	border-style: solid;
	border-width: 0 15em;	/* sets the width of the borders used to create
				   the left and right columns' background 
				   color. */
}
#innerColumnContainer
{
	z-index: 2;
	width: 100%;
}
* html #innerColumnContainer
{
	position: relative;	/* fix a render bug in IE under certain
				   conditions */
}
#contentColumn
{
	margin: 0 -1px;		/* without this, boxes stop floating next to 
				   each other */
	width: 100%;
}
#leftColumn, #rightColumn, #contentColumn
{
	float: left;
	position: relative;	/* IE has a display/render bug with non-floated 
				   block elements inside floated block elements. 
				   setting position:relative on the floating
				   element seems to resolve this. */
	z-index: 10;
	overflow: visible;	/* fix for IE italics bug */
}
#rightColumn
{
	float: right;
	width: 15em;
	margin: 0 -15em 0 1px;
}
#leftColumn
{
	width: 15em;
	margin: 0 1px 0 -15em;
}
#footer
{
	position: relative;
}
#masthead h1
{
	display: inline;
}
.clear
{
	clear: both;
	padding-bottom: 1px;	/* for Gecko-based browsers */
	margin-bottom: -1px;	/* for Gecko-based browsers */
}
.hide, #oldBrowserNotice, .ieSixCharDupBug
{
	display: none !important;
}
#contentColumn
{
	border-width: 0;
}
* html #pageWrapper
{
	word-wrap: break-word;
}

/******************************************************************************/

@charset "iso-8859-1";

/*******************************************************************************
* hnav.css : 2005-08-31 : Ruthsarian Layouts
* ------------------------------------------------------------------------------
* responsible for the horizontal navigation elements.
*******************************************************************************/

.hnav
{
	border-bottom: solid 1px #fff;
	text-align: center;
}
.hnav, .hnav ul li a
{
	padding-top: 3px;
	padding-bottom: 4px;
}
.hnav ul, .hnav ul li
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.hnav ul li a
{
	margin: 0 -1px 0 0;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	white-space: nowrap;
}
.hnav ul li a:link, .hnav ul li a:visited, .hnav ul li a:active, .hnav ul li a:hover
{
	text-decoration: none;
}
.hnav ul li span.divider
{
	display: none;
}
* html .hnav ul li, * html .hnav ul li a
{
	width: 1%;
	display: inline-block;
	/* \*/
		width: auto;
		display: inline; 
		position: relative;
	/* reset above hack */
}
* html .hnav, * html .hnav ul li a
{
	/* \*/
		height: 1%;
	/* reset above hack */
}

/******************************************************************************/

@charset "iso-8859-1";

/*******************************************************************************
* vnav.css : 2004-07-21 : Ruthsarian Layouts
* ------------------------------------------------------------------------------
* responsible for the vertical navigation elements.
*******************************************************************************/

.vnav ul, .vnav ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}
.vnav ul
{
	border: solid 1px #000;
	border-bottom-width: 0;
}
.vnav ul li
{
	border-bottom: solid 1px #000;
}
.vnav ul li a
{
	display: block;
	text-decoration: none;
	padding: 2px 10px;
}
* html .vnav ul li a/* hide from IE5.0/Win & IE5/Mac */
{
	height: 1%;
}
* html .vnav ul
{
	position: relative; /* IE needs this to fix a rendering problem */
}
.vnav h3
{
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 126%;
}
/******************************************************************************/

/* NOTE: The entire colors.css section has been REMOVED from this file. */
/* Your colors are now correctly being controlled by v4.css. */


/*******************************************************************************
* gutters.css : 2004-07-06 : Ruthsarian Layouts
*******************************************************************************/
body
{
	margin: 0;
	padding: 2em;
}
p, h1, h2, h3, h4, h5, h6
{
	margin: 1em 0;
}
.inside
{
	padding: 0 1.5em;
}
#leftColumn, #centerColumn, #rightColumn, #masthead
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#masthead, #footer
{
	padding: 1em;
}
.vnav
{
	margin: 1em 0;
}
#masthead h1
{
	margin: 0;
	padding: 0;
}
/******************************************************************************/


/*******************************************************************************
* borders.css : 2004-07-06 : Ruthsarian Layouts
*******************************************************************************/
#pageWrapper
{
	border-style: solid;
	border-width: 0 1px;
}
#outerColumnContainer
{
}
#innerColumnContainer
{
	border-style: solid;
	border-width: 0 1px;
	margin: 0 -1px;
}
* html #outercolumncontainer
{
	margin-top: -1px;
	border-top: solid 1px #000;
}
#masthead
{
	border-style: solid;
	border-width: 0 0 1px 0;
}
#footer
{
	border-style: solid;
	border-width: 1px 0 0 0;
}
/******************************************************************************/


/*******************************************************************************
* fonts.css : 2004-07-06 : Ruthsarian Layouts
*******************************************************************************/

body
{
	font-family: arial, helvetica, sans-serif;
	font-size: 100.1%;
}
#pageWrapper
{
	font-size: 80%;
}
#footer
{
	text-align: center;
}
:root code
{
	font-size: 120%;
}
h1
{
	font-size: 210%;
}
h2
{
	font-size: 175%;
}
h3
{
	font-size: 140%;
}
h4
{
	font-size: 120%;
}
h5, h6
{
	font-size: 100%;
}
/******************************************************************************/
